.btn.btn-social-media {
	&.btn-google {
		padding: 0.4em;
		background: rgb(220, 78, 65);
		color: rgb(255,255,255);

		&:hover, &:focus {
			outline: 3px rgb(191, 210, 242);
		}
		&:active {
			background: rgb(197, 56, 41);
		}
	}
}

.user-signin-prompt {
	font-size: 0.95em;
}

img.user-photo {
	max-width: 27px;
	max-height: 27px;
	width: 100%;
}
